  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="mdl-navigation__link" href="{{ site.baseurl }}"><span id="header_title" class="mdl-layout-title">{{ site.title }}</span></a>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-color--white">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ site.baseurl }}">Home</a>
      <a class="mdl-navigation__link" href="{{ site.baseurl }}bibleproject">Video Series</a>
      <a class="mdl-navigation__link" href="{{ site.baseurl }}about">About</a>
    </nav>
  </div>
  