//
// Generals styles for material design light elements
//

.mdl-layout__container {
  position: relative;
}

.mdl-card{
  width: 100%;
}

.mdl-grid{
  max-width: 1000px;
}

#audio_refresh{
  object-fit: initial;
  width: 100%;
  height: 315px;
  background: #ffffff url("../img/favicon.jpg") no-repeat top center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: 50%;
}

#audio_url{
  vertical-align: middle;
}

#header_title{
  margin-left: -10%;
}

// This appears to fix unwanted iOS zoom when text is less than 16px
input, textarea {
  font-size: initial;
}

#audio_refresh {
  position: relative;
  z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 15% 1% 3%;
}

#audio_help_text {
  background-color: grey;
  padding: 1%;
  display: none;
}

#replace_bible_text {
  margin-top: -3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
  line-height: 1.7;
}