//
// Generals styles for material design light elements
//

.mdl-card{
  width: 100%;
  min-height: 100px;
}

.mdl-grid{
  max-width: 1000px;
}

audio{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
}

.center{
  margin: 0 auto; 
  display: table;
}