//
// Generals styles for material design light elements
//

.mdl-card{
  width: 100%;
  min-height: 125px;
}

.mdl-grid{
  max-width: 1000px;
}

audio{
  margin-left: 5%;
  margin-right: 5%;
}

.center{
  margin: 0 auto; 
  display: table;
}